.ads{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}
.re-img{
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.img {
    display: block;
    max-width: 80%;
    height: auto;
  }
